*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #486874;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;

}
.box{
    width: 17vmin;
    height: 17vmin;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 1rem rgba(0, 0,0,0.3 );
    font-size: 8vmin;
    color: firebrick;
    background-color: #FFF;
}
#Reset{
    padding: 1rem;
    font-size:1.25rem;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: none;
}
#new{
    padding: 1rem;
    font-size:1.25rem;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: none;
}
.message{
    color : #ffffc7;
font-size: 9vmin;
}

